<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

  <div class="container">

    <!-- Jumbotron -->

    <div class="jumbotron text-center">

      <h1>Mission to Mars</h1>
      
      <p><a class="btn btn-primary btn-sm" href="/scrape" role="button">Scrape New Data</a></p>

    </div>

    <!-- News Section -->

    <div class="container">

      <h3>Latest Mars News</h3>
      <hr>
      <strong><p>{{ mars_info.news_title }}</p></strong>
      <p>{{ mars_info.news_paragraph}}</p>

    </div>

    <div class="container">

      <div class="row">

        <!-- Left Part -->

          <div class="col-lg-8 col-md-8 col-sm-12">

            <h3 style = "text-align: center">Featured Mars Image</h3>
            <hr>

            <img src="{{ mars_info.featured_image_url }}" style="max-width:100%; max-height: auto;" alt="Mars Featured Image">

          </div>

        <!-- Right Part -->

          <div class="col-lg-4 col-md-4 col-sm-12">

            <!-- Weather Card -->

            <div class="card" style="width: 35rem;">

              <div class="card-body text-white bg-dark">

                <h3 style = "text-align: center" class="card-title">Current Weather on Mars</h3>
                <hr>
                <p class="card-text">{{ mars_info.weather_tweet }}</p>

              </div>

            </div>

            <!-- Table -->

            <h3 style = "text-align: center">Mars Facts</h3>
            <hr>
            <div style="max-width: 450px; max-height: 150px; font-size: 15px; margin-bottom: 65px;">

              {{ mars_info.mars_facts|safe}}

          </div>

        </div> 

      </div>

    </div>

    <!-- Cards -->


    <div class = "container-fluid">

      <h3 style="padding-top: 50px; margin-top: 100px; text-align: center;">Mars Hemispheres</h3>

      <hr>

      <div class="col-md-12">

        <div class = "row">

          {% for item in mars_info.hemisphere_image_urls %}

            <div class="col-md-6">

              <div class="card" style="width: 18rem;">

                <img class="card-img-top" src="{{ item.img_url }}" alt = "Card Mars img">

                <div class="card-body">

                  <strong><p class="card-text" style = "text-align: center">{{ item.title }}</p></strong>

                </div>

              </div>

            </div>

          {% endfor %}

        </div>

      </div>

    </div>

  </div>=

  <!-- Bootstrap JS -->
  
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>

</body>

</html>

    



